{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Listing: {{list.title}}</h2>
    <img src="{{list.image_link}}" width="350" alt="">
    <br>
<br>
    <p>{{list.description}}</p>
    <br>
    <br>
    <h2>${{list.starting_bid}}</h2>
    <form action="" method="POST">
        {% csrf_token %}
        {% if in_watchlist %}
            <button class="btn btn-primary" type="submit" name="watchlist">Remove from watchlist</button>
        {% else %}
     
            
            <button  class="btn btn-primary" type="submit" name="watchlist">Add to watchlist</button>
        
        {% endif %}
  
    </form>
    {% if  not owner %}
    <h5 style="color: red;">{{error}}</h5>
    <form action="" method="POST">
        {% csrf_token %}
        ${{form.starting_bid}}
        <button class="btn btn-primary" type="submit"  >Bid</button>

    </form>
    {% else %}
        
    {%endif%}
{% endblock %}